<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>로그인</title>
    </head>
    <body>
        <h2>LOGIN</h2>
        <form action="/log-in" method="post">
            <fieldset>
                <div>
                    <label for="id">ID :</label>
                    <input
                        type="text"
                        name="username"
                        id="id-account"
                        required="required"
                        placeholder="아이디 또는 이메일 주소를 입력해주세요."
                    />
                </div>
                <div>
                    <label for="password">P.W : </label>
                    <input
                        type="password"
                        name="password"
                        id="id-password1"
                        required="required"
                        placeholder="비밀번호를 입력해주세요."
                    />
                </div>
            </fieldset>
            <br />
            <input type="checkbox" /> 로그인 정보 저장
            <br />
            <button type="submit">로그인</button>
        </form>
        <a href="Signin.html"> 회원가입</a>
    </body>
</html>
